*{
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;

  }
  body{
    background-image: url("image/istockphoto-1281227346-612x612.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgb(131, 131, 131);
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: white;
  
  }
  h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
 